nav {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;

}

.selected {
    border: 1px solid black;

    padding: 15px;
}

ul {
    list-style: none;
}

.product {
    border-bottom: 1px solid black;
}